[project]
name = "siapy-lib"
version = "0.2.1"
description = "A python library for efficient processing of spectral images."
authors = [{ name = "janezlapajne", email = "janez.lapajne@kis.si" }]
dependencies = [
	"pandas>=2.2.2",
	"opencv-python>=4.10.0.82",
	"spectral>=0.23.1",
	"scikit-learn>=1.5.0",
	"pydantic>=2.7.3",
	"rich>=13.7.1",
	"scikit-image>=0.24.0",
	"matplotlib>=3.9.0",
]
requires-python = ">=3.10"
readme = "README.md"
license = { text = "MIT" }

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"


[tool.pdm]
distribution = true

[tool.pdm.dev-dependencies]
lint = [
	"black>=24.4.2",
	"flake8>=7.0.0",
	"ruff>=0.4.8",
	"mypy>=1.10.1",
	"pandas-stubs>=2.2.2.240603",
]
dev = ["pre-commit>=3.7.1"]
test = ["pytest>=8.2.2", "pytest-cov>=5.0.0"]
docs = ["mkdocs>=1.6.0"]


[tool.pytest.ini_options]
markers = ["manual: mark test as manual to run them only on demand."]

[tool.mypy]
mypy_path = "stubs"

[[tool.mypy.overrides]]
module = "spectral"
ignore_missing_imports = true

[tool.flake8]
per-file-ignores = ["tests/*:F401,F811"]

[tool.ruff]
extend-exclude = []
exclude = []
lint.ignore = ["F811"]
