backports.statistics==0.1.0
Cython==0.29.28
dl==0.1.0
funcy==1.17
inpoly==0.1.2
ipaddr==2.2.0
joblib==1.1.0
keyring==23.4.0
matplotlib==3.5.2
mypy_extensions==0.4.3
numba==0.55.1
numpy==1.22.4
omegaconf==2.2.2
opencv_python==4.5.3.56
ordereddict==1.1
pandas==1.4.3
pywin32==304
rich==12.5.1
scikit_learn==1.1.2
spectral==0.22.4
tqdm==4.59.0
wincertstore==0.2.1
