inpoly==0.1.2
matplotlib==3.5.2
numba==0.55.1
opencv_python==4.5.3.56
pandas==1.4.3
rich==12.5.1
scikit_learn==1.1.2
spectral==0.22.4
hydra_core==1.2.0
hydra_colorlog==1.2.0
dill==0.3.5.1
scikit_image==0.19.3
